<%#
 * File name: footer.ejs
 * Authors:
 * Shawn McLaughlin <shawnmcdev@gmail.com>
 * Joshua Korovesi <joshua.j.korovesi@gmail.com>
 * Site: https://joshawn-opine.herokuapp.com/
 * Description: Footer partial page template.
%>
</div>
<footer class="footer">

        <p class="text-center">© Copyright J. Korovesi and S. McLaughlin 2017 | 
         | <a href="/content/tos.html" target="blank" class="nopad">Terms of Service</a> |
                    <a class="nopad bold" href="/content/privacy.html">Privacy Policy</a> |
                    Background from <a class="nopad" href="https://www.transparenttextures.com/">transparenttextures.com</a> | 
                    Icons from <a class="nopad" href="http://glyphicons.com/">Glyphicons</a> and <a class="nopad" href="http://fontawesome.io/">FontAwesome</a></p> 
</footer>

<script src="/scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
