</div>
<footer class="footer">

        <p class="text-center">© Copyright J. Korovesi and S. McLaughlin 2017 | 
         | <a href="/content/tos.html" target="blank" class="nopad">Terms of Service</a> |
                    <a class="nopad bold" href="/content/privacy.html">Privacy Policy</a> |
                    Background from <a class="nopad" href="https://www.transparenttextures.com/">transparenttextures.com</a></p> 
</footer>

<script src="/scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
