<footer class="footer">
    <div class="container">
        <p class="text-center">© Copyright J. Korovesi and S. McLaughlin 2017 | Background from <a class="nopad" href="https://www.transparenttextures.com/">transparenttextures.com</a></p>
    </div>
</footer>

<script src="/scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>