<%#
 * File name: header.ejs
 * Authors:
 * Shawn McLaughlin <shawnmcdev@gmail.com>
 * Joshua Korovesi <joshua.j.korovesi@gmail.com>
 * Site: https://joshawn-opine.herokuapp.com/
 * Description: Header partial template file.
%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Opine |
            <%= title %>
        </title>
        <link rel="stylesheet" href="/scripts/lib/bootstrap/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/scripts/lib/font-awesome/css/font-awesome.min.css">
        <link rel='stylesheet' href="/content/style.css">
    </head>

    <body>
        <div class="navbar-container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                        <a class="navbar-brand nopad" href="#">Opine</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <% if(userName && userName != "Guest") { %>
                            <ul class="nav navbar-nav">
                                <li><a class="nav-link" href="/polls/dashboard"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Dashboard</a></li>
                                <li><a class="nav-link" href="/polls/mine"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> My Surveys</a></li>
                            </ul>
                            <% } %>

                                <ul class="nav navbar-nav navbar-right">
                                    <% if(userName && userName != "Guest") { %>
                                        <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                                <%= userName %></a>
                                        </li>
                                         <li><a class="nav-link" href="/auth/account"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account Settings</a></li>
                                        <li><a class="nav-link" href="/auth/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out</a></li>
                                        <% } else { %>
                                            <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                                Guest</a>
                                            </li>
                                            <li><a class="nav-link" href="/auth/login">Log In</a></li>
                                            <% } %>
                                </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </div>

        <div class="site-wrapper">