<% include ../views/partials/header.ejs %>
    <h1>opine</h1>

  <p> Welcome to opine, where you can build your own surveys or participate in surveys made by others.
      Do you feel the burning sensation to know if others agree that garlic bread with cheese is better over classic cheeseless garlic bread?
      Do you want to let the world know how you feel about Batman being superior to Superman?
      Then come join us and create you own survey to get these questions answered. Or perhaps there is already a survey out there that you can participate
      in that will answer your question. FillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFiller
      FillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFiller
      FillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFiller
       FillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFillerFiller</p>
<% include ../views/partials/footer.ejs %>
