body{
  background-image: url('./images/billie-holiday.png');
  background-color: #73ceff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

/***
* Homepage/General
***/

h1{
  font-weight: bold;
}
.container{
  margin-top:30px;
  overflow-x: hidden;
}
.banner{
  margin-top:10%;
}

.banner-info{
  font-size:2em;
}

a{
  /*color: #008;*/
  color: #228;
  font-size:110%;
}
a:not(.nopad):not(input):not(button){
  padding:0 25px;
}

a:hover:not(.nopad):not(input):not(button){
  text-decoration: none;
  color:#000;
  background-color:rgba(255, 255, 255, 0.25);
}

.browse-surveys{
  margin-top:50px;
}

.smol{
  font-size:0.6em;
  color: #333;
}

.site-wrapper{
  margin: 0 10px;
}

/***
* Browse Surveys 
***/

.table-head{
    background-color: #ffffff;
}

.table-row{
  background-color: #ccffff;
}

/***
* Dashboard
***/
.dashboard-component{
  margin-top: 50px;
  padding: 0px 15px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 0 0 2% 2%;
  min-height: 200px;
  box-shadow: 2px 2px 5px #888888;
}
.dashboard-component h3{
  font-weight: bold;
  padding: 5px 0 5px 0;
  margin: 0 0 30px 0;
  background-color: #EEE;
  width: 100%;
}

/**
* Form Items
***/
.btn {
  border-radius: 0px;

}



/* Sticky footer styles
Taken from: http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html, body {
  min-height: 100%;
}
.container:before {
  /* Margin bottom by footer height */
  margin-bottom:-20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size:.75em;
  /* Set the fixed height of the footer here */
  height: 25px;
  overflow-x: hidden;
}



/* unselectable */
.unselectable{
   pointer-events: none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/** center-block fix */
.center-block {
  display: table;
  margin: 0 auto;
}

