body{
  background-image: url('./images/billie-holiday.png');
  background-color: #5591db;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

/***
* Homepage 
***/

.banner{
  margin-top:10%;
}

.banner-info{
  font-size:2em;
}

.home-links a{
  color: #008;
}

.browse-surveys{
  margin-top:50px;
}

.smol{
  font-size:0.6em;
  color: #333;
}

/***
* Browse Surveys 
***/

.table-head{
    background-color: #ffffff;
}

.table-row{
  background-color: #ccffff;
}




/* Sticky footer styles
Taken from: http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size:.75em;
  /* Set the fixed height of the footer here */
  height: 20px;
}



/* unselectable */
.unselectable{
   pointer-events: none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/** center-block fix */
.center-block {
  display: table;
  margin: 0 auto;
}

