<% include ../partials/header.ejs %>

<div class="container">
    <div class="row text-center">
        <h2>Short Answer Template</h2>
        <h4>By: Username</h4>
    </div>

  <form>
    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div>
        <textarea class="form-control" rows="5" id="q1"></textarea>
        </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div>
        <textarea class="form-control" rows="5" id="q2"></textarea>
        </div>
    </div>

   <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div>
        <textarea class="form-control" rows="5" id="q3"></textarea>
        </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 4: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div>
        <textarea class="form-control" rows="5" id="q4"></textarea>
        </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 5: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div>
        <textarea class="form-control" rows="5" id="q5"></textarea>
        </div>
    </div>

    <div class="form-group center-block">        
      <div>
        <a href="/polls/browse" class="btn btn-primary" role="button" type="submit">Submit</a>
      </div>
    </div>
  </form>
</div>
<% include ../partials/footer.ejs %>