<%#
 * File name: tfSurvey.ejs
 * Authors:
 * Shawn McLaughlin <shawnmcdev@gmail.com>
 * Joshua Korovesi <joshua.j.korovesi@gmail.com>
 * Site: https://joshawn-opine.herokuapp.com/
 * Description: True/False survey page template.
%>
<% include ../partials/header.ejs %>

<div class="container">
    <div class="row text-center">
        <h2>True & False Template</h2>
        <h4>By: Username</h4>
    </div>

  <form>
    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
      <div>
        <div class="radio">
            <label><input type="radio" name="q1">True</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="q1">False</label>
        </div>
      </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
      <div>
        <div class="radio">
            <label><input type="radio" name="q2">True</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="q2">False</label>
        </div>
      </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
      <div>
        <div class="radio">
            <label><input type="radio" name="q3">True</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="q3">False</label>
        </div>
      </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 4: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
      <div>
        <div class="radio">
            <label><input type="radio" name="q4">True</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="q4">False</label>
        </div>
      </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 5: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
      <div>
        <div class="radio">
            <label><input type="radio" name="q5">True</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="q5">False</label>
        </div>
      </div>
    </div>

    <div class="form-group center-block">        
      <div>
        <a href="/polls/browse" class="btn btn-primary" role="button" type="submit">Submit</a>
      </div>
    </div>
  </form>
</div>
<% include ../partials/footer.ejs %>