<%#
 * File name: login.ejs
 * Authors:
 * Shawn McLaughlin <shawnmcdev@gmail.com>
 * Joshua Korovesi <joshua.j.korovesi@gmail.com>
 * Site: https://joshawn-opine.herokuapp.com/
 * Description: Login page template
%>
<% include ../partials/header.ejs %>

	<main class="container main-content">
	<!-- Display flash messages  -->
	<% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
           <h1>Please Login</h1>
           <form method="post">
                <fieldset class="form-group">

                    <input type="text" class="form-control" name="username" placeholder="Username" required autofocus/>
                 </fieldset>
                 <fieldset class="form-group">

                    <input type="password" class="form-control" name="password" placeholder="Password" required/>
                    <div class="text-right">No account? <a class="nopad" href="/auth/register">Register for free.</a></div>
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Log In"/>
                    <a href="/" class="nopad">
                        <input type="button" class="btn btn-warning" value="Cancel"/>
                    </a>
               </fieldset>
            </form>
         </div>
      </div>
    </main>

<% include ../partials/footer.ejs %>