<%#
 * File name: home.ejs
 * Authors:
 * Shawn McLaughlin <shawnmcdev@gmail.com>
 * Joshua Korovesi <joshua.j.korovesi@gmail.com>
 * Site: https://joshawn-opine.herokuapp.com/
 * Description: Unauthenticated homepage template.
%>
<% include ../partials/header.ejs %>
<div class="container">
    <div class="col-md-4"></div>
    <div class="row">
        <div class="col-md-4 banner unselectable">
            <img class="img-responsive" src="/content/images/opinelogo.png"/>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">Fast and simple polls and surveys.</h2>
    </div>
    <div class="row">
        <div class="center-block home-links text-center">
            <h3><a href="/auth/login">Log In</a> <span class="smol">or</span> <a href="/auth/register">Sign Up</a> </h3>
        </div>
    </div>

    <div class="row browse-surveys">
        <div class="center-block home-links"><a href="/polls/browse">No thanks, I just want to browse surveys</a></div>
    </div>
</div>
<% include ../partials/footer.ejs %>